/* style */

body {
    background-color: #66b2b2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    background-color: #bdebeb
}

.link {
    background-color: #bdebeb;
    font-size: 22px;
}