/* style */

body {
    background-color: #66b2b2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    background-color: #bdebeb;
    color:#002424;
    font-weight: 800;
}

h2, h3, h4, h5, h6 {
    background-color: #bdebeb;
    color:#002424;
    font-weight: 800;
}

.link {
    background-color: #bdebeb;
    font-size: 22px;
    margin-bottom: 15px;
    border: none;


}

img {
    width: 300px;
    height: auto;
}

ul {
    border-width:3px; 
    border-style:solid; 
    border-color:#0e5751;
}

ol li {
    margin-bottom: 7px;
}

#contents {
    border: none;
}
